@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    gap: 0;
}

.pSize0_75 {
    font-size: 0.75rem;
    font-weight: 500;
}

.pSize0_875 {
    font-size: 0.875rem;
    font-weight: 500;
}

.pSize1 {
    font-size: 1rem;
}

.pSize1_125 {
    font-size: 1.125rem;
}

.pSize1_5 {
    font-size: 1.5rem;
}

.pSize2 {
    font-size: 2rem;
}

.pSize2_25  {
    font-size: 2.25rem;
}

.pSize3 {
    font-size: 3rem;
}

.inter{
    font-family: 'Inter';
}

.sonsieOne {
    font-family: 'Sonsie One';
}

.buttonPurple {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8635FD;
    background: #8635FD;
    color: #FFFFFF;
    border-radius: 6.25rem;
}

.buttonWhite {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EDEDED;
    background: #EDEDED;
    color: #1D1E25;
    border-radius: 6.25rem;
}

.buttonBlack {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1D1E25;
    background: #EDEDED;
    color: #1D1E25;
    border-radius: 6.25rem;
}


.header {
    width: 100%;
    background-color: #8635FD;
    height: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
}

.lettering {
    font-size: 0.75rem;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;
    line-height: 150%;
}

.logo {
    width: 7.5rem;
    height: 3.5rem;
}


.navbar {
    background-color: var(--secondary-color);
    padding: 0px 20px;
    padding-bottom: 0;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    gap: 191px;
}

.navbar .logo img {
    width: 120px;
    height: 56px;
    display: flex;
    align-items: center;
}

.arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -2% 0 0 4rem;

}

.arrow img {
    margin-top: -3rem;
}

.arrow p {
    line-height: 1.625rem;
    font-size: 12rem;
    font-weight: 500;
    color: #7E8492;
    width: 14.4375rem;
}

.promo {
    border-radius: 6.25rem;
    display: inline-flex;
    padding: 0.375rem;
    align-items: flex-start;
    gap: 0.625rem;
    background: rgba(134, 53, 253, 0.08);
    margin: 3.5rem 0 1.12rem 1.25rem
}

.promo p {
    background-color: #F5EFFF;
    line-height: 150%;
    font-weight: 500;
    font-size: 0.875rem;
    display: inline-block;
    color: #8635FD;
    margin-left: 1.25rem;
}

.content h1 {
    color: #1D1E25;
    line-height: 120%;
    font-weight: 600;
    font-size: 2.25rem;
    display: inline-block;
    margin-left: 1.25rem;
}

.content p {
    font-size: 1rem;
    font-weight: 500;
    color: #7E8492;
    line-height: 1.625rem;
    margin-left: 0.5rem;

}

.invitation {
    background: #FAFBFA;
    border-radius: 6.25rem;
    display: flex;
    flex-direction: row;
    width: 335px;
    height: 66px;
    justify-content: space-around;
    margin: 2.5rem 0 0 1.25rem;
    align-items: center;

}

.email {
    color: #1D1E25;
    line-height: 1.625rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}


.invitation p {
    font-size: 1rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625rem;
}

#startForFree {
    padding: 0.875rem 1.25rem;
    background-color: #8635FD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 95px;
    height: 6px;
}

#startForFree p {
    margin-top: -3px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 150%;
}

.logInNow {
    flex-direction: row;
    display: flex;
    gap: 1%;
    align-items: center;
    margin-bottom: 3rem;
}

.logInNow p {
    margin-left: 2%;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%;
    line-height: 1.625rem;
    color: #7E8492;
    padding: 0.7rem;
}

.logInNow a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: #1D1E25;
}

.sales {
    display: flex;
    background: #FFF;
    box-shadow: 15.99px 31.981px 63.962px 0px rgba(89, 96, 135, 0.12);
    border-radius: 0.5rem;
    padding: 1rem 1rem 3.15rem 1rem;
    margin: 0 1.25rem 0 1.25rem;
}

.sales p {
    color: #1D1E25;
    font-size: 1.19931rem;
    font-weight: 700;
    line-height: 1.49913rem;
    padding-bottom: 0.8rem;
}

.statistic {
    border-radius: 0.5rem;
    display: flex;
    width: 18.9375rem;
    padding: 0.99938rem;
    flex-direction: column;
    align-items: center;
    background: #8635FD;
    gap: 1.19931rem;
    margin: 0 1.1rem 3.5rem 1.1rem;
}

.statisticInformation {
    display: flex;
    flex-direction: row;
    justify-content: justify;
    width: 18.08919rem;
    align-items: flex-start;
    gap: 3.99763rem;
}

.secondStatistic {
    margin-left: 1.30rem;
}

#statisticTitle {
    color: #FAFBFA;
    font-size: 0.69956rem;
    font-weight: 600;
    line-height: 0.99938rem;
    margin-bottom: 0.2rem;
}

#statisticPrice {
    color: #FFF;
    font-size: 0.99938rem;
    font-weight: 700;
    line-height: 1.29925rem;
    margin-bottom: 0.39rem;
}


.statisticInRow {
    display: flex;
    flex-direction: row;
    justify-content: justify;
}

#statisticArrow {
    width: 0.59963rem;
    height: 0.59963rem;
}

#statisticPercentage {
    color: #60D39C;
    font-size: 0.69956rem;
    font-weight: 600;


}

#statisticDescription {
    color: #FAFBFA;
    font-size: 0.69956rem;
    font-weight: 400;
    line-height: 1.09931rem;
    letter-spacing: -0.025rem;
}

.features {
    width: 100%;
    height: 61.5rem;
    background: #070127;
    background-image: url('/Imagens/HandDrawmLine.png');
    background-repeat: no-repeat;
    background-position-y: 34%;
    margin-bottom: 5rem;
}

.featureHead {
    color: #FFF;
    line-height: 120%;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.02rem;
    margin-top: 3.5rem;
    padding: 3.25rem 0 0 1.25rem;

}

.featureSubhead {
    color: #EDEDED;
    line-height: 1.625rem;
    font-weight: 500;
    font-size: 1rem;
    padding: 1.25rem;
}

#GetStarted {
    background: #FFFFFF;
    display: flex;
    padding: 0.875rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    width: 9.75rem;
    height: 3%;
    margin: 1.25rem 0 0 1.25rem
}

#GetStarted p {
    color: #8635FD;
    line-height: 1.625rem;
    font-weight: 700;
    font-size: 1rem;
}

.featureContentBox {
    background: #8635FD;
    border-radius: 0.5rem;
    height: 10.625rem;
    margin: 2.5rem 1.25rem 1rem 1.25rem;
}

.featureContentIcon {
    padding: 1.25rem;
}

.featureContentText {
    color: #FFF;
    line-height: 120%;
    font-weight: 600;
    font-size: 1.125rem;
    margin-left: 1.25rem;
}

#featureContetBoxThree {
    margin: 2.5rem 1.25rem 3.5rem 1.25rem;
}

.graphicFrame {
    width: 18.9375rem;
    height: 14.4375rem;
    margin: 0 2.25rem 0 2.25rem;
}

.titleInform {
    color: #1D1E25;
    line-height: 130%;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.015rem;
    margin: 1rem 2.25rem 0 2.25rem;
}

.subTitles {
    color: #7E8492;
    line-height: 150%;
    font-weight: 500;
    font-size: 0.875rem;
    margin: 1rem 2.25rem 0 2.25rem;
}

#MakeYourFirstSale {
    background: #8635FD;
    display: flex;
    padding: 0.875rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    width: 9.75rem;
    height: 3%;
    margin: 2rem 0 6.5rem 2.25rem;
}

#MakeYourFirstSale p {
    color: #FFF;
    line-height: 1.625rem;
    font-weight: 700;
    font-size: 1rem;

}

.subtopics {
    color: #7E8492;
    line-height: 2rem;
    font-weight: 500;
    font-size: 1.125rem;
    margin: 1rem 2.25rem 0 4rem;
}


.clientTour {
    color: #1D1E25;
    line-height: 120%;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.02rem;
    margin: 10.5rem 1.25rem 0 1.25rem;
}

.clientTourSub {
    color: #7E8492;
    line-height: 1.625rem;
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem 1.25rem 0 1.25rem;
}

#clientBigIcon {
    margin: 2.5rem 1.25rem 0 1.25rem;

}

.fiveStarsNote {
    margin: 1.5rem 0 0 1.25rem;
    display: flex;
    flex-direction: row;
}

.fiveStarsNote p {
    color: #101010;
    line-height: 150%;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 0.56rem;
}

.testimony {
    color: #1D1E25;
    line-height: 130%;
    letter-spacing: -0.015rem;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem 1.25rem 0 1.25rem;
}

.persona {
    color: #1D1E25;
    line-height: 130%;
    letter-spacing: -0.015rem;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem 1.25rem 0 1.25rem;
}

.personaInform {
    color: #7E8492;
    font-family: "Sonsie One";
    line-height: 1.25rem;
    letter-spacing: -0.015rem;
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0.5rem 1.25rem 2rem 1.25rem;
}

.clientSideBar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 1rem;

}

.nextButton {
    background: #8635FD;
    border-radius: 6.25rem;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 6.25rem;
    margin-right: 1.88rem;
    width: 1rem;
    height: 1rem;
}

.clientSearch {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3.5rem;
}

.pricingText {
    background-color: #F8FAFC;
    width: 23.4375rem;
    height: 23.5rem;
    padding-top: 3.5rem;
    margin-bottom: 2.5rem;
}

.titlePlans {
    color: #1D1E25;
    line-height: 1.625rem;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.75rem;
}

.plansAdvertising {
    color: #1D1E25;
    line-height: 120%;
    letter-spacing: -0.0225rem;
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 1rem;
    align-self: stretch;
}

.plansSubtext {
    color: #7E8492;
    line-height: 1.625rem;
    letter-spacing: -0.0225rem;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2.5rem;
    align-self: stretch;
}

.actionsButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

#ChatToSales {
    background: #F8FAFC;
    display: flex;
    padding: 0.875rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    width: 6.38rem;
    height: 1.25rem;
    align-self: stretch;
    margin-left: 0.75rem;
}

#ChatToSales p {
    display: flex;
    flex-direction: row;
    color: #1D1E25;
    line-height: 1.625rem;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

#GetStartedPlans {
    background: #8635FD;
    display: flex;
    flex-direction: row;
    padding: 0.875rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    width: 6.38rem;
    height: 1.25rem;
    align-self: stretch;
    margin-left: 0.75rem;
}

#GetStartedPlans p {
    display: flex;
    flex-direction: row;
    color: #FFF;
    line-height: 1.625rem;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;

}

.pricingTierCard {
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0px 4px 16px 0px rgba(16, 16, 16, 0.08);
    display: flex;
    width: 20.9375rem;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1.25rem 0 1.25rem;
    border: 1px solid #EDEDED;
}

.pricingPlansHeader {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    margin: 2.5rem 2rem 1rem 2rem;
    gap: 1rem;
}

.pricingPlans {
    color: #1D1E25;
    text-align: center;
    font-weight: 500;
    line-height: 1.25rem;
    font-size: 0.875rem;
}

.planPrice {
    color: #1D1E25;
    text-align: center;
    font-weight: 600;
    line-height: 3.75rem;
    letter-spacing: -0.06rem;
    font-size: 3rem;
}

.planDescrip {
    color: #1D1E25;
    text-align: center;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
}

.actionPricing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 0.75rem;
}

#GetStartedPricing {
    background-color: #8635FD;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 0.875rem 1.25rem;
    border-radius: 6.25rem;
    
}

#GetStartedPricing p {
    color: #FFF;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
}

#ChatTosalesPricing {
    background-color: #FFF;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 0.875rem 1.25rem;
    border-radius: 6.25rem;
    border: 1px solid #EDEDED;
}

#ChatTosalesPricing p {
    color: #1D1E25;
    font-weight: 700;
    line-height: 1.625rem;
    font-size: 1rem;
}

.divider {
    height: 0.0625rem;
    align-self: stretch;
    background: #EDEDED;
    margin: 1rem 0 2rem 0;
}

.checkItems {
    display: flex;
    padding: 0rem 2rem 2.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    margin-bottom: 3.5rem;
}

.checkItemText {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

#ThirTierCard {
    margin-bottom: 3.5rem;
}

.ctaSection {
    background: #F8FAFC;  
    padding: 1.5rem 1rem;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    align-self: stretch;
    border-radius: 1rem;    
    margin: 3.5rem 0 3.5rem 0;
}   


.subscribeContent {
    display: flex;
    width: 18.125rem;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.subscribeHeadSub {
    display: flex;
    width: 18.125rem;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.subscribeHead {
    color: #1D1E25;
    font-weight: 600;
    line-height: 120%;
    font-size: 2rem;
    letter-spacing: -0.02rem;
    text-align: center;

}
.subscribeSubtext {
    color: #7E8492;
    font-weight: 500;
    line-height: 1.625rem;
    font-size: 1rem;
    text-align: center;
    gap: 1.25rem;
}

.emailCatch {
    display: flex;
    align-items: flex-start;
    width: 18.1875rem;
    gap: 1rem;
}

.inputBoard {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.375rem;
}


.inputBox {
    border-radius: 0.5rem;
    border: 1px solid #EDEDED;
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0.75rem 0.875rem;
    gap: 0.5rem;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    margin-bottom: 1rem;
}

.inputEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18.1875rem;
    gap: 0.375rem;
}

.inputEmail p {
    color: #7E8492;
    font-weight: 400;
    line-height: 1.625rem;
    font-size: 1rem;
    text-align: center;
    
}

#Subscribe {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.25rem;    
    gap: 0.5rem;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

#Subscribe p {
    color: #FFF;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
}

.privacyPolicy p {
    align-self: stretch;
    color: #7E8492;
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 1rem;
    text-align: left;
}

.privacyPolicy span {
    align-self: stretch;
    color: #7E8492;
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 1rem;
    text-decoration-line: underline;
    margin-bottom: 3.5rem;
}

.purpleFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8635FD;
}

#contentBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 0.75rem;
    width: 100%;

}

.headAndSub {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20.9375rem;
}

.headText p {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    line-height: 2.375rem;
    font-size: 1.875rem;
    width: 100%;
    
}

.subText p {
    color: #E9D7FE;
    font-weight: 400;
    line-height: 2.375rem;
    font-size: 1.25rem;   
    width: 100%;
    margin-bottom: 2rem; 
}

.actionsButtonFooter {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    margin: 0 0 1rem 0.5rem;
}

#LearnMore {
    border-radius: 0.5rem;
    display: flex;
    padding: 0.75rem 1.25rem 0.75rem 0.60rem;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 6.1rem;
    height: 1.5rem;
}

#LearnMore p {
    color: #344054;
    font-weight: 600;
    font-size: 1rem;   

}

#GetStartedFooter {
    background: #1D1E25;
    border-radius: 0.5rem;
    display: flex;
    padding: 0.75rem 1.25rem 0.75rem 0.60rem;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 6.1rem;
    height: 1.5rem;
}

#GetStartedFooter p {
    color:#FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;   
    line-height: 1.5rem;
}

.footer {
    background-color: #1D1E25;
    padding: 2rem 0; 
    text-align: center;
}

.footerAllLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.footerLinkRow {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    margin-bottom: 2rem; 
    width: 98%;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.footerLinks p,
.footerLinksTitles p {
    color: #EDEDED;
    font-weight: 500;
    line-height: 150%;
    font-size: 0.875rem;
}

.footerLinks p {
    margin: 0 0 1rem 0;
}

.footerLinksTitles p {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 150%;
    margin-bottom: 0.5rem;
}

#dividerFooter {
    width: 90%;
    background: #7E8492;
    margin: 0 auto 2rem auto; 
}

.footerTerms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.socialMedias {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.footerPolicy {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footerPolicy p {
    color: #FFF;
    font-weight: 500;
    line-height: 150%;
    font-size: 0.875rem;
}

.footerLinksTitles {
    margin-bottom: 1rem;
}

.footerLinks p {
    margin-left: 1rem; 
}

.allRights {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%;
}

.navbarDesktop {
    display: none;
}

.signActions {
    display: none;
}

.sales p {
    display: none;
}

@media (min-width: 1440px) {

.lettering {

}

.logo {
    width: 1440px;
    height: 114px;
    margin: 1.5rem 0 0 7.5rem;  
}

.navbar .menu{
    display: none;
}

.navbarDesktop {
    display: inline-flex;
    align-items: flex-start;
    gap: 2rem;
    white-space: nowrap;
    margin: 2.75rem 15rem 2.75rem 15rem;
}


.navbarDesktop p  {
    color: #1D1E25;
    font-weight: 500;
    line-height: 1.625rem; 
    font-size: 1rem;
    justify-content: center;
}

.navbarDesktop p {
    color: #1D1E25;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    
}

.signActions {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    display: flex;
    gap: 1rem;
    width: 90rem;
    height: 7.125rem;
}

.signUpFree p 
.signInAction p {
    color: #1E2238;
    font-weight: 600;
    line-height: 1.375rem;
    font-size: 1rem;
    width: 100%;
    height: auto;
}

.signUpFree {
    display: flex;
    width: 6.69rem;
    height: 1.38rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    border: 1px solid #D5DAE1;
}

.promo {
    padding: 0.375rem 1rem;
    align-items: flex-start;
    gap: 0.625rem;
    background: rgba(134, 53, 253, 0.08);
    border-radius: 6.25rem;

}

.promo p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
}

.fullContent {
    display: flex;
    margin: 0 0 0 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.125rem;
    width: 49rem;
    height: 39.3rem;
}

.content {
    height: 24.8125rem;
    flex-shrink: 0;
}

.content h1 {
    color: #1D1E25;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.045rem;
}

.arrow {
    width: 37.3125rem;
    height: 7.6875rem;
    margin: 1rem 0 0 4.8rem;
}

.arrow img {
    width: 4.5625rem;
    height: 4.9375rem;
    margin: 0 0 0 -1rem;
}

.arrow p {
    color: #7E8492;
    width: 31.1875rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 3rem 0 0 1rem;

}

.landingPage {
    margin: 0 0 5rem 0;  
    display: flex;
    width: 90rem;
    height: 45rem;
}

.invitation {
    width: 35.9375rem;
    height: 5rem;
    margin: 3rem 0 1rem 10rem;
}

.email p {
    color: #000;
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.125rem;
}

#startForFree {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    gap: 0.625rem;
    width: 6.75rem;
    height: 1.25rem;
    margin: 0 0 0 14.5rem;
    padding: 0.875rem 1.25rem;
}

.logInNow {
    margin: 0 0 3rem 8rem;
    white-space: nowrap;
    line-height: 1.625rem;
    font-weight: 500;
}

.logInNow p {
    color: #7E8492;
    font-size: 0.875rem;
}

.logInNow a {
    color: #1D1E25;
    font-size: 1rem;
}

.sales img {
    width: 26.1875rem;
}

.salesInform {
    width: 26.1875rem;
    margin: 10rem 0 7rem 5.81rem;
    display: flex;
    width: 26.1875rem;
    padding: 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.statistic {
    display: flex;
    width: 26.1875rem;
    padding: 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

}

.features {
    width: 90rem;
    height: 34rem;
}

.headInform {
    display: inline-flex;
    align-items: flex-start;
    gap: 12.5rem;
}

.featureHead p {
    font-family: 'Poppins';
    width: 42.8125rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.035rem;
    font-size: 3.5rem;
    margin: 2rem 0 0 8rem;
}

.featureContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.featureContentBox {
    width: 24rem;
    height: 10.625rem;
}

.subHeadInform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

.informationFeatures {
    display: flex;
}

.titleInform {
    color: #1D1E25;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 3.125rem; 
    font-size: 3rem;
}

.subTitles {
    color: #7E8492;
    font-weight: 500;
    line-height: 1.625rem;
    font-size: 1.25rem;
}

.graphicFrame {
    width: 76rem;
    height: 27.625rem;
    display: flex;
    align-items: flex-start;
    gap: 3.8125rem;
}

.graphicFrame img {
    width: 32.1875rem;
    height: 24.625rem;
}

.graphicInformDesktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

}



